narou_books/
yahoo/
review_data/
all_line_info.csv
all_line_info_n.csv
all_line_info_n_k.csv
all_line_info_k.csv
all_kata.csv
all_hira.csv
narou_books.zip
csv_pack_comedy/naka/N0601EIline_info_n.csv
nohup.out
